[submodule "submodules/dismantle"]
	path = submodules/dismantle
	url = git@github.com:travitch/dismantle.git
[submodule "submodules/crucible"]
	path = submodules/crucible
	url = https://github.com/GaloisInc/crucible.git
[submodule "submodules/parameterized-utils"]
	path = submodules/parameterized-utils
	url = https://github.com/GaloisInc/parameterized-utils.git
