[submodule "submodules/dismantle"]
	path = submodules/dismantle
	url = git@github.com:travitch/dismantle.git
[submodule "submodules/crucible"]
	path = submodules/crucible
	url = https://github.com/GaloisInc/crucible.git
[submodule "submodules/elf-edit"]
	path = submodules/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "dependencies/llvm-pretty"]
	path = submodules/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty.git
[submodule "submodules/llvm-pretty"]
	path = submodules/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty
[submodule "submodules/asl-translator"]
	path = submodules/asl-translator
	url = git@github.com:GaloisInc/asl-translator.git
[submodule "submodules/arm-asl-parser"]
	path = submodules/arm-asl-parser
	url = git@github.com:GaloisInc/arm-asl-parser.git
[submodule "submodules/what4"]
	path = submodules/what4
	url = https://github.com/GaloisInc/what4
