[fuzzer]
arch = ppc32
opcodes = AllOpcodes
strategy = Randomized
report-url = http://192.168.52.210

[host:helium.proj.galois.com]
runner-path = /home/cygnus/bin/remote-runner.ppc32
chunk-size = 100
threads = 1
