body {
    padding: 0;
    margin: 0;
}

#main {
    padding: 0.75em;
}

#nav {
    background: #7acaff;
    color: black;
    padding: 0.5em;
    font-size: 24px;
    border-bottom: 1px solid black;
}

#nav a {
    color: black;
}

.mono {
    font-family: monospace;
}

table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #aaa;
    padding: 0.4em;
}

td ul {
    padding-left: 1.5em;
    margin-bottom: 0;
}

#archList #archCol {
    width: 200px;
}

#archList #hostCol {
    width: 400px;
}

span.lighthost {
    color: #aaa;
}

div.testValue {
    text-align: right;
    font-family: monospace;
}

span.typeTag {
    display: inline-block;
    float: left;
    margin-right: 1em;
}
