body {
    padding: 0;
    margin: 0;
}

#main {
    padding: 0.75em;
}

#nav {
    background: #7acaff;
    color: black;
    padding: 0.5em;
    font-size: 24px;
    border-bottom: 1px solid black;
}

#nav a {
    color: black;
}

#batchList span {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    background: #eee;
    margin: 0px;
    border: 1px solid #ccc;
}

#batchList span.viewLink {
    width: 3em;
}

#batchList span.testHost {
    width: 13em;
}

#batchList span.fuzzHost {
    width: 13em;
}

#batchList span.arch {
    width: 4em;
}

#batchList span.user {
    width: 10em;
}

#batchList span.uploadTime {
    width: 13em;
}
