<html>
    <body>
        <h1>Fuzzermon Status</h1>

        <table border="1">
            <tr>
                <th>&nbsp;</th>
                <th>Fuzzer Host</th>
                <th>Testing Host</th>
                <th>Arch</th>
                <th>User</th>
                <th>Uploaded At</th>
            </tr>
            {% for batch in batches %}
            <tr>
                <td><a href="">View</a></td>
                <td><tt>{{ batch.fuzzer_host }}</tt></td>
                <td><tt>{{ batch.testing_host.hostname }}</tt></td>
                <td><tt>{{ batch.testing_host.arch.name }}</tt></td>
                <td><tt>{{ batch.user.username }}</tt></td>
                <td><tt>{{ batch.submitted_at }}</tt></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
