{% extends "main/site.html" %}

{% block nav %}
Fuzzermon
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Architecture</th>
        <th>Hosts</th>
    </tr>
    {% for arch in archs %}
    <tr>
        <td>
            <a href="">{{ arch.name }}</a>
        </td>
        <td>
            <ul>
                {% for host in arch.host_set.all %}
                <li>{{ host.hostname }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
