{% extends "main/site.html" %}

{% block nav %}
<a href="/">Fuzzermon</a>
{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Architecture</th>
        <th>Hosts</th>
    </tr>
    {% for arch in archs %}
    <tr>
        <td valign="top">
            <span class="mono">
                <a href="/arch/{{ arch.id }}/">{{ arch.name }}</a>
            </span>
        </td>
        <td>
            <ul>
                {% for host in arch.host_set.all %}
                <li><span class="mono">{{ host.hostname }}</span></li>
                {% endfor %}
            </ul>
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}
