{% extends "main/site.html" %}
{% load main_helpers %}

{% block nav %}
<a href="/">Fuzzermon</a>
  &raquo; <a href="/arch/{{ signal_error.opcode.arch.id }}/">{{ signal_error.opcode.arch.name|mono }}</a>
  &raquo; <a href="/opcode/{{ signal_error.opcode.id }}/">{{ signal_error.opcode.name|mono }}</a>
{% endblock %}

{% block body %}
<h1>Test Signal Error for {{ signal_error.opcode.name|mono }}</h1>

{% include "main/display_mode.html" %}

<table>
    <tr>
        <th>Instruction</th>
        <th>Signal</th>
    </tr>
    <tr>
        <td>
            <div>
                {{ signal_error.pretty|mono }}
            </div>
            <div class="bytes">
                {{ signal_error.bytes|num:'bin' }}
            </div>
            <div>
                <span class="lighthost">{{ signal_error.batch.testing_host.hostname|mono }}</span>
            </div>
        </td>
        <td>
            {{ signal_error.signal|mono }} ({{ signal_error.signame|mono }})
        </td>
    </tr>
</table>

<h2>Test Inputs</h2>

<table>
    <tr>
        <th>Location</th>
        <th>Initial Value</th>
    </tr>
    {% for input in inputs %}
    <tr>
        <td>{{ input.location|mono }}</td>
        <td><div class="testValue">{{ input.value|num:numty }}</div></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
