{% extends "main/site.html" %}
{% load main_helpers %}

{% block nav %}
<a href="/">Fuzzermon</a>
  &raquo; <a href="/arch/{{ arch.id }}/">{{ arch.name|mono }}</span>
{% endblock %}

{% block body %}
<h1>Opcode Listing for {{ arch.name|mono }}</h1>

<table>
    <tr>
        {% for col in cols %}
        <th>
            <a href="/arch/{{ arch.id }}/?sort={{ col.name }}{% if sort_order == col.name %}&dir={{ flipdir }}{% endif %}">
                {{ col.display_name }}</a>
        </th>
        {% endfor %}
    </tr>
    {% for status in opcode_statuses %}
    <tr>
        <td>
            <a href="/opcode/{{ status.opcode.id }}/">{{ status.opcode.name|mono }}</a>
        </td>
        <td>
            {{ status.num_failures }}
        </td>
        <td>
            {{ status.num_successes }}
        </td>
        <td>
            {{ status.percent_failing }}
        </td>
    <tr>
    {% endfor %}
</table>
{% endblock %}
