{% extends "main/site.html" %}

{% block nav %}
<a href="/">Fuzzermon</a>
  &raquo; <span class="mono"><a href="/arch/{{ arch.id }}/">{{ arch.name }}</a></span>
{% endblock %}

{% block body %}
<h1>Opcode Listing for <span class="mono">{{ arch.name }}</span></h1>

<table>
    <tr>
        <th>
            <a href="/arch/{{ arch.id }}/?sort=opcode{% if sort_order == 'opcode' %}&dir={{ flipdir }}{% endif %}">
                Opcode</a>
        </th>
        <th>
            <a href="/arch/{{ arch.id }}/?sort=num_failures{% if sort_order == 'num_failures' %}&dir={{ flipdir }}{% endif %}">
                Failures</a>
        </th>
        <th>
            <a href="/arch/{{ arch.id }}/?sort=num_successes{% if sort_order == 'num_successes' %}&dir={{ flipdir }}{% endif %}">
                Successes</a>
        </th>
        <th>
            <a href="/arch/{{ arch.id }}/?sort=percent_failing{% if sort_order == 'percent_failing' %}&dir={{ flipdir }}{% endif %}">
                % Failing</a>
        </th>
    </tr>
    {% for status in opcode_statuses %}
    <tr>
        <td>
            <span class="mono">
                <a href="/opcode/{{ status.opcode.id }}/">{{ status.opcode.name }}</a>
            </span>
        </td>
        <td>
            {{ status.num_failures }}
        </td>
        <td>
            {{ status.num_successes }}
        </td>
        <td>
            {{ status.percent_failing }}
        </td>
    <tr>
    {% endfor %}
</table>
{% endblock %}
