{% extends "main/site.html" %}
{% load main_helpers %}

{% block nav %}
<a href="/">Fuzzermon</a>
  &raquo; <a href="/arch/{{ opcode.arch.id }}/">{{ opcode.arch.name|mono }}</a>
  &raquo; <a href="/opcode/{{ opcode.id }}/">{{ opcode.name|mono }}</a>
{% endblock %}

{% block body %}

<div>
    <form id="deleteAllForm" action="" method="post">
        <input type="hidden" name="delete-all" value="yes"/>
        <input type="button" value="Delete all {{ opcode.name }} results"
                             onClick="if (confirm('Are you sure you want to delete all results for this opcode?')) { document.getElementById('deleteAllForm').submit(); }"/>
    </form>
    {% include "main/display_mode.html" %}
</div>

<ul id="opcodeTabs">
    <li {% if result_type == 'success' %}class="activeTab"{% endif %}>
        <a href="/opcode/{{ opcode.id }}/success/">Successes</a> ({{ num_successes }})</li>
    <li {% if result_type == 'failure' %}class="activeTab"{% endif %}>
        <a href="/opcode/{{ opcode.id }}/failure/">Failures</a> ({{ num_failures }})</li>
    <li {% if result_type == 'signal' %}class="activeTab"{% endif %}>
        <a href="/opcode/{{ opcode.id }}/signal/">Signals</a> ({{ num_signals }})</li>
</ul>

<p>
{% if limit %}
  {% if cases|length < limit %}
  Showing all {{ cases|length }} results
  {% else %}
  Showing first {{ cases|length }} results (<a href="?limit=none">show all results</a>)
  {% endif %}
{% else %}
  {% if cases|length < limit %}
  Showing all {{ cases|length }} results
  {% else %}
  Showing all {{ cases|length }} results (<a href="?limit=50">show first 50 results</a>)
  {% endif %}
{% endif %}
</p>

{% if result_type == "failure" %}
{% include "main/view_opcode_failure.html" %}
{% elif result_type == "success" %}
{% include "main/view_opcode_success.html" %}
{% elif result_type == "signal" %}
{% include "main/view_opcode_signal.html" %}
{% endif %}

{% endblock %}
