{% extends "main/site.html" %}
{% load main_helpers %}

{% block nav %}
<a href="/">Fuzzermon</a>
  &raquo; <span class="mono"><a href="/arch/{{ opcode.arch.id }}/">{{ opcode.arch.name }}</a></span>
  &raquo; <span class="mono"><a href="/opcode/{{ opcode.id }}/">{{ opcode.name }}</a></span>
{% endblock %}

{% block body %}
<h1>Test Failures for <span class="mono">{{ opcode.name }}</span></h1>

<form id="numTyForm" action="">
    Numeric display mode:
    <select name="numeric_display" onChange="document.getElementById('numTyForm').submit();">
        <option {% if numty == "dec" %}selected{% endif %} value="dec">Decimal</option>
        <option {% if numty == "bin" %}selected{% endif %} value="bin">Binary</option>
        <option {% if numty == "hex" %}selected{% endif %} value="hex">Hex</option>
    </select>
</form>

<table>
    <tr>
        <th rowspan="2">Instruction</th>
        <th colspan="2">State Mismatches</th>
    </tr>
    <tr>
        <th>Location</th>
        <th>(S)emantics vs. (H)ardware</th>
    </tr>
    {% for failure in failures %}
    <tr>
        <td valign="top" rowspan="{{ failure.testfailurestate_set.all|length }}">
            <div>
                <span class="mono">{{ failure.pretty }}</span>
            </div>
            <div>
                <span class="lighthost mono">{{ failure.batch.testing_host.hostname }}</span>
            </div>
        </td>
        {% for state in failure.testfailurestate_set.all %}
        {% if forloop.counter0 > 0 %}<tr>{% endif %}
            <td><span class="mono">{{ state.location }}</span></td>
            <td>
                <div class="testValue">
                    <span class="typeTag">S:</span>{{ state.expected_value|num:numty }}
                </div>
                <div class="testValue">
                    <span class="typeTag">H:</span>{{ state.actual_value|num:numty }}
                </div>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>
{% endblock %}
