{% extends "main/site.html" %}

{% block body %}
<h1>Batch View</h1>

<div id="batchList">
    <div>
        <span class="fuzzHost">Fuzzer Host
        </span><span class="testHost">Testing Host
        </span><span class="arch">Arch
        </span><span class="user">User
        </span><span class="uploadTime">Uploaded At</span>
    </div>
    <div>
        <span class="fuzzHost">
            {{ batch.fuzzer_host }}
        </span><span class="testHost">
            {{ batch.testing_host.hostname }}
        </span><span class="arch">
            {{ batch.testing_host.arch.name }}
        </span><span class="user">
            {{ batch.user.username }}
        </span><span class="uploadTime">
            {{ batch.submitted_at }}
    </div>
</div>

<h2>Passing Tests</h2>

{% for entry in batch.testsuccess_set.all %}
<li>{{ entry.opcode }} (successes: {{ entry.count }}) </li>
{% endfor %}

<h2>Failing Tests</h2>

{% for entry in batch.testfailure_set.all %}
<div>
    <div>
        {{ entry.opcode }} (operands: {{ entry.arguments }})
    </div>
    <ul>
        {% for st in entry.testfailurestate_set.all %}
        <li>{{ st.location }}: expected {{ st.expected_value }}, got {{ st.expected_value }}</li>
        {% endfor %}
    </ul>
<div>
{% endfor %}

{% endblock %}
